// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

a, a:visited, a:link {
  color: $textColor;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: $mainBacground;
  color: $textColor;
}

.row {
  width: 100%;
  height: auto;
}

.container {
  padding: 0 10%;
  display: flex;
}

.text-center {
  text-align: center;
}

.custom-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: solid 1px $borderColor;

  .ul-main-nav {
    display: flex;
    align-items: center;

    .li-main-nav {

      a {
        line-height: 4rem;
        padding: 0 1rem;
        border-right: dotted 1px $borderColor;
      }

      a:hover {
        color: $hoverTextColor;
      }
    }

    .li-main-nav:first-child a {
      border-left: dotted 1px $borderColor;
    }

    .li-main-nav:hover {
      background-color: $hoverColor;
    }
  }

  .nav-left {
    a {
      line-height: 4rem;
      padding: 0 1rem;
      border-right: dotted 1px $borderColor;
      border-left: dotted 1px $borderColor;
    }

    a:hover {
      color: $hoverTextColor;
    }
  }

  .nav-left:hover {
    background-color: $hoverColor;
  }
}